@charset "UTF-8";

body {
  font-family: "Franklin Gothic Book", "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: #fff;
  color: #fff;
  min-width: 300px;
  min-height: 100vh;
  position: relative;
  z-index: 0;
  height: 100%;
}

.sidebar-open {
  overflow-x: hidden;
}

#main-container {
  background-image: url(img/bgbio2015.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 100vh;
  transition: transform .2s;
}

.sidebar-open #main-container {
  transform: translateX(15em);
}

#fade-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .8;
  background-color: #fff;
  z-index: 3;
  cursor: pointer;
  display: none;
}

.sidebar-open #fade-overlay {
  display: block;
}

.background-gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  opacity: .7;
}

#main-gradient {
  background-color: #555;
  background-image: -webkit-linear-gradient(135deg, #1a97ae, #555);
  background-image: -moz-linear-gradient(135deg, #1a97ae, #555);
  background-image: -o-linear-gradient(135deg, #1a97ae, #555);
  background-image: linear-gradient(135deg, #1a97ae, #555);
}

#header {
  background: rgba(0, 0, 0, .3);
  position: relative;
  z-index: 1;
  height: 2.5em;
  line-height: 2.5em;
  padding: .25em;
}

#header:after {
  content: '';
  width: 3.75em;
  height: 0;
  position: absolute;
  top: 100%;
  right: 0;
  border-left: 1.5em solid transparent;
  border-top: 1.5em solid rgba(0, 0, 0, .3);
}

#sidebar-opener {
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 3em;
  background-image: url(icon-sidebar.png);
  background-size: 100% 100%;
}

#header-social-links {
  display: inline-block;
  padding-top: .25em;
  margin-left: 3em;
  line-height: 100%;
}

.social-link {
  display: inline-block;
  width: 2em;
  height: 2em;
}

.social-image {
  width: inherit;
  height: inherit;
}

#user-link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  height: 4em; /* 3em (height of #header) + 1.5em (height of #header:after) - .5em (top and bottom padding) */
  float: right;
  position: relative;
  z-index: 1;
}

#user-link:hover {
  opacity: .5;
}

.new-messages #avatar {
  animation: shake .2s linear .2s 4;
}

.new-messages:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff0000;
  width: 1em;
  height: 1em;
  border-radius: .5em;
}

#avatar {
  height: 100%;
}

.button {
  border: 0; /* override default style of button (the element not the .button class) */
}

.button:hover {
  cursor: pointer;
}

.button:active,
.button:focus {
  outline: 0;
}

.header-button {
  display: inline-block;
  padding: 0 .5em;
}

.orange-button {
  background-color: #ff7b00;
}

.orange-button:hover {
  background-color: #d26805;
}

.light-blue-button {
  background-color: #1a97ae;
}

.light-blue-button:hover {
  background-color: #116b7d;
}

.dark-blue-button {
  background-color: #056b7d;
}

.dark-blue-button:hover {
  background-color: #083f4c;
}

#sidebar {
  position: absolute;
  top: 0;
  left: -15em;
  width: 15em;
  height: 100%;
  background-color: #333;
  z-index: 2;
  box-shadow: inset -.75em 0 .5em -.5em rgba(0, 0, 0, .3);
}

.sidebar-link-group {
  padding: 0; /* reset ul behavior */
  margin: 0; /* reset ul behavior */
  padding-bottom: 1em;
}

.sidebar-link-group:first-of-type {
  padding-top: 3em;
}

.sidebar-link {
  display: block;
  font-size: 1.5em;
  padding: .5em;
  border-bottom: 1px solid #333;
  color: #fff;
  text-decoration: none;
  background: rgba(255, 255, 255, .1);
}

.sidebar-link:hover {
  opacity: .5;
}

section {
  margin: 2em;
}

.background-kewa {
  background-image: url(img/MNOLG_Gukko_Force.png);
}

#content {
  position: relative;
  text-align: center;
  z-index: 1;
  /*text-shadow: 0 0 1em #fff, 0 0 1em #fff;*/
}

#logo-horiz {
  width: 80%;
  min-width: 200px;
  max-width: 350px;
  margin: 0 auto;
  display: none;
  padding: 1em;
}

#logo-description {
  margin: 0;
  padding: 0;
  /*font-family: "GoudyTrajan", "Trajan Pro", "Trajan-Regular", "Georgia", "Times New Roman", serif;*/
  font-weight: normal;
}

#search-form {
  font-size: 1.5em;
  margin: 0;
}

.search-element {
  width: 2.2em;
  font-size: 1em;
  vertical-align: middle;
}

#search-box-container {
  width: calc(100% - 2.5em); /* leave room for the search button */
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
  display: inline-block;
  position: relative;
}

#search-input-query {
  width: 100%;
  height: 2.2em;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding-left: .25em;
  padding-right: .25em;
  -webkit-appearance: none; /* override default WebKit search box styling */
  border-radius: 0; /* override default WebKit search box styling */
  font-family: "Franklin Gothic Book", "Helvetica Neue", sans-serif;
}

#search-input-query:focus {
  outline: 0;
  border-color: #056b7d;
  -webkit-box-shadow: inset 0 0 0 .1em #056b7d;
  -moz-box-shadow: inset 0 0 0 .1em #056b7d;
  box-shadow: inset 0 0 0 .1em #056b7d;
}

#search-suggestions {
  visibility: hidden;
  width: 100%;
  position: absolute;
  background-color: #fff;
  box-sizing: border-box;
  transition: 0s .25s visibility;
  border: 1px solid #056b7d;
  border-top: 0;
  border-bottom: 0;
  z-index: 2;
}

#search-input-query:focus + #search-suggestions {
  visibility: visible;
}

.search-suggestion-link {
  display: block;
  text-align: initial;
  padding: .5em;
  border-top: 1px solid #ccc;
  text-decoration: none;
  font-size: .9em;
  color: #000;
}

.search-suggestion-link:last-of-type {
  border-bottom: 1px solid #056b7d;
}

.search-suggestion-link:hover {
  background-color: #eee;
}

.search-suggestion-link:focus {
  background-color: #ddd;
  color: inherit;
}

.search-button {
  display: inline-block;
  box-sizing: border-box;
  width: 2.2em;
  height: 2.2em;
  padding: .25em 0;
  background-repeat: no-repeat;
  background-position: center;
}

.search-button:focus {
  box-shadow: inset 0 0 0 1px #fff;
}

.search-button-icon {
  height: 100%;
}

#search-input-random:hover #icon-random {
  animation: shake .3s linear 0s 2;
}

#section-featured {
  position: relative;
  bottom:0;
}

#explore-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.25em;
  visibility: hidden;
}

#explore-link:after {
  content: '\00a0→';
}

#explore-name {
  font-weight: bold;
}

.featured-link:hover {
  opacity: .5;
}

.featured-box {
  display: inline-block;
  background-color: #333;
  width: 20%;
  min-width: 200px;
  max-width: 260px;
  height: 15em;
  margin: .25em;
  padding: .5em;
  text-align: left;
  vertical-align: middle;
  position: relative;
  background-size: cover;
  box-sizing: border-box;
  overflow: hidden;
  /* same width even if no padding */
}

.featured-category {
  font-size: 1em;
  background-color: #000;
  color: #fff;
  margin: -.5em;
  padding: .25em;
  padding-left: .5em;
  position: relative;
  z-index: 1;
  height: 1.5em;
  line-height: 1.5em;
  text-transform: uppercase;
}

.featured-category:after {
  content: '';
  width: 2em;
  height: 0;
  position: absolute;
  top: 100%;
  right: 0;
  border-left: 1.5em solid transparent;
  border-top: 1.5em solid #000;
}

.featured-heading {
  font-size: 1.75em;
  margin-bottom: 0;
}

#featured-social {
  width: 25em;
  max-width: 400px;
}

.featured-text {
  /*position: relative;
  margin-top: 3em;*/
  z-index: 1;
  position: absolute;
  bottom: .5em;
}

.text-highlight {
  padding: .1em;
  line-height: 1.3em;
  color: #fff;
}

#featured-podcast {
  background-color: #263472;
  background-image: url(img/Tahtorak.png);
  /*background-size: cover;
  background-repeat: no-repeat;*/
}

#podcast-gradient {
  background-color: #777;
  background-image: -webkit-linear-gradient(135deg, #263472, #777);
  background-image: -moz-linear-gradient(135deg, #263472, #777);
  background-image: -o-linear-gradient(135deg, #263472, #777);
  background-image: linear-gradient(135deg, #263472, #777);
}

#featured-g2cont {
  background-color: #673ab7;
  background-image: url(img/Voriki.jpg);
}

#g2cont-gradient {
  background-color: #673ab7;
  background-image: -webkit-linear-gradient(135deg, #673ab7, #00bcd4);
  background-image: -moz-linear-gradient(135deg, #673ab7, #00bcd4);
  background-image: -o-linear-gradient(135deg, #673ab7, #00bcd4);
  background-image: linear-gradient(135deg, #673ab7, #00bcd4);
}

#featured-reviews {
  background-color: #ccc;
  background-image: url(img/27150705462_d18a00fde3_b.jpg);
}

#reviews-gradient {
  background-color: #777;
  background-image: -webkit-linear-gradient(135deg, #ccc, #777);
  background-image: -moz-linear-gradient(135deg, #ccc, #777);
  background-image: -o-linear-gradient(135deg, #ccc, #777);
  background-image: linear-gradient(135deg, #ccc, #777);
}

.reviews-highlight {
  /*background-color: #ccc;*/
  color: #FFF;
}

@keyframes shake {
  25% {
    transform: rotate(10deg);
  }

  75% {
    transform: rotate(-10deg);
  }
}

@keyframes new-messages {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  #section-featured {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  #logo-description,
  #search-input-random,
  #logo-vert {
    display: none;
  }

  section {
    margin: .5em;
    margin-bottom: 1em;
  }

  #section-explore {
    margin-top: 1.5em;
  }

  #logo-horiz {
    display: block;
  }
}
